body {
    /*background-color: #f8f8f8;*/
    background-image: url(../picture/bg.png);
}

.nav_pic {
    width: 100%;
    height: auto;
}

.nav_pic img {
    width: 100%;
}

.main .row {
    width: 90%;
    margin: 50px auto;
}

.main .content_pad {
    width: 75vw;
    margin: 20px auto;
    padding-top: 10px;
    background-color: white;
}

.main .row h4 {
    font-weight: 500;
    margin-top: -20px;
    transition: 0.2s;
    -moz-transition: 0.2s;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
}

.main .main_1:hover>h4 {
    font-weight: 600;
}

.img {
    width: auto;
}

.main {
    position: relative;
}