body {
    /*background-color: #f8f8f8;*/
    background-image: url(../picture/bg.png);
}

.nav_pic {
    width: 100%;
    height: auto;
}

.nav_pic img {
    width: 100%;
}

#myScrollspy {
    padding-left: 0;
    padding-right: 0;
}

ul.nav-tabs {
    margin-top: 20px;
    border-radius: 4px;
    border: 1px solid #ddd;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.067);
}

ul.nav-tabs li {
    margin: 0;
    border-top: 1px solid #ddd;
}

ul.nav-tabs li:first-child {
    border-top: none;
}

ul.nav-tabs li a {
    margin: 0;
    padding: 8px 16px;
    border-radius: 0;
}

ul.nav-tabs li a:hover {
    color: #fff;
    background: #0088cc;
    border: 1px solid #0088cc;
}

ul.nav-tabs li:first-child a {
    border-radius: 4px 4px 0 0;
}

ul.nav-tabs li:last-child a {
    border-radius: 0 0 4px 4px;
}

ul.nav-tabs.affix {
    top: 100px;
    /* Set the top position of pinned element */
}

.container .row .name {
    margin: 20px;
    border: 2px solid black;
    border-radius: 50%;
    padding-bottom: 100%;
    width: 100%;
}

.container .row .info {
    padding: 80px 80px;
}

.container .row h2 {
    padding-top: 50px;
}

@media screen and (max-width:435px) {
    .container .row .info {
        padding: 20px 0px 20px 10px;
    }
    .container .row .name {
        margin: 20px 10px;
    }
    .container .row .pic {
        padding-left: 0;
        padding-right: 0;
    }
}