* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, '微软雅黑';
}

.row {
    margin: 0;
}


/*header*/

header {
    width: 100%;
}

header .navbar-default .navbar-brand {
    font-family: 'Ruda', sans-serif;
    color: black;
    font-size: 30px;
    font-weight: 600;
}

header .navbar-default .navbar-nav>li>a {
    font-family: "Lato", "Heiti SC", "Hiragino Sans GB", "STHeiti", "Source Han Sans CN", "WenQuanYi Zen Hei", "WenQuanYi Micro Hei", "微软雅黑", sans-serif;
    color: black;
    font-size: 20px;
    font-weight: 500;
    transition: all 0.4s ease;
    display: block;
    padding: 10px 0;
    line-height: 20px;
    margin: 10px 20px;
    border-bottom: 1px solid #f8f8f8;
}

.top_nav_collapse {
    background-color: #323436;
}

.top_nav_collapse ul.nav li a {
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    color: #D0D0D0;
    margin: 0 20px;
    border-bottom: none;
    font-size: 20px;
}

.top_nav_collapse ul.nav li a:hover {
    color: white;
    border-bottom: none;
}

.top_nav_collapse ul.nav #in a:hover {
    color: white;
    border-bottom: none;
}

.top_nav_collapse ul.nav #in {
    background-color: #686868;
}

.top_nav_collapse ul.nav #in a {
    border-bottom: none;
}

.top_nav_collapse #head {
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    color: #D0D0D0;
    height: 100%;
    padding: 5px 15px;
    font-size: 25px;
}

.top_nav_collapse #head:hover {
    color: white;
}

.top_nav_collapse {
    min-height: 0px;
}

#in {
    background-color: #E0E0E0;
}

#in>a {
    border-bottom: 1px solid #E0E0E0;
}

#in a:hover {
    color: #0dc5a0;
    border-bottom: 1px solid #0dc5a0;
}

.navbar .navbar-nav>li>a:hover {
    color: #0dc5a0;
    border-bottom: 1px solid #0dc5a0;
}

header .navbar {
    margin-bottom: 0px;
}

header .navbar-brand {
    line-height: 30px;
}

header .navbar-nav>li {
    line-height: 30px;
}

.item {
    height: calc(100vh - 10px);
}

.carousel .item img {
    height: auto;
}

.carousel-caption {
    vertical-align: middle;
    top: 35%;
    font-size: 20px;
    display: inline-block;
    font-size: 20px;
}

.navbar-fixed-top {
    border-width: 0 0 1px 0;
}

.carousel-caption p {
    font-size: 25px;
}

.carousel-control {
    height: auto;
    opacity: 0.5;
}

#about {
    position: relative;
    width: 100%;
}

#active {
    position: relative;
    width: 100%;
    background: url(../picture/bg.png);
}

#contact {
    width: 100%;
    position: relative;
}

#top {
    display: none;
    padding-top: 10px;
    right: 20px;
    bottom: 15px;
    position: fixed;
    color: #bfbfbf;
    font-weight: 600;
    font-size: 15px;
}

.index_text {
    text-align: center;
    line-height: 30px;
    margin-top: 0px;
    padding-top: 40px;
    font-family: arial, "微软雅黑", "Microsoft YaHei";
}

#about .index_text h1 {
    margin-bottom: 30px;
}

#active .index_text {
    text-align: center;
    line-height: 30px;
    padding-top: 50px;
    color: black;
}


#active .text_center {
    font-weight: 500;
}

.index_text h1 {
    letter-spacing: 1px;
}

.text_center {
    font-weight: 500;
    font-size: 15px;
    margin-top: 40px;
    letter-spacing: 1px;
}

.intro {
    margin: 80px 100px 80px 160px;
    font-size: 13px;
}

#嵌入式 {
    background-color: #3498db;
    box-shadow: 1px 1px 8px #888888;
    border-radius: 3px;
    color: white;
    padding: 5px;
    margin-top: 15px;
}

#大数据 {
    background-color: #7e57c2;
    margin-top: 30px;
    box-shadow: 1px 1px 8px #888888;
    border-radius: 3px;
    color: white;
    padding: 5px;
}

#android {
    background-color: #0dc5a0;
    margin-top: 30px;
    box-shadow: 1px 1px 8px #888888;
    border-radius: 3px;
    color: white;
    padding: 5px;
}

#web {
    background-color: #FF6600;
    margin-top: 30px;
    box-shadow: 1px 1px 8px #888888;
    border-radius: 3px;
    color: white;
    padding: 5px;
}

#嵌入式1,
#大数据1,
#android1,
#web1 {
    margin: 0px;
    height: 96px;
    width: 96px;
}

.img1 {
    padding: 40px 30px 40px 20px;
}

#嵌入式1 {
    background-image: url(../picture/index-嵌入式.png);
}

#大数据1 {
    background-image: url(../picture/index-大数据.png);
}

#android1 {
    background-image: url(../picture/index-android.png);
}

#web1 {
    background-image: url(../picture/index-h5.png);
}

.text {
    border-radius: 10px;
    background-color: #D0D0D0;
    height: 100px;
}

.img {
    padding: 5px 0;
}

#github {
    background: url("../picture/github.jpg");
}

#salon {
    background: url("../picture/salon.jpg");
}

#project {
    background: url("../picture/project.jpg");
}

#github::before {
    background: url("../picture/github.jpg") no-repeat center;
}

#salon::before {
    background: url("../picture/salon.jpg") no-repeat center;
}

#project::before {
    background: url("../picture/project.jpg") no-repeat center;
}

#github::before,
#salon::before,
#project::before {
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    filter: blur(20px);
    -webkit-filter: blur(10px);
    /* Chrome, Safari, Opera */
    margin: 20px;
}

#github,
#salon,
#project {
    height: 250px;
    width: 250px;
}

#github {
    margin: 80px 0px 80px 150px;
}

#salon {
    margin: 80px 150px;
}

#project {
    margin: 80px 135px 80px 0px;
}

.main {
    height: 200px;
    margin: 25px 0;
    text-align: center;
    position: relative;
    background: hsla(0, 0%, 100%, .3);
    overflow: hidden;
}

.main li,
.main a {
    color: black;
}

.main li:hover,
.main a:hover {
    font-weight: 600;
    font-size: 15px;
    color: black;
}

.main li {
    margin: 10px 0;
}

.main p {
    font-size: 18px;
    font-weight: 600;
    color: black;
}

#contact .row {
    margin: 20vh 20vh 10vh 16vh;
}

#contact .row h2 {
    color: #0dc5a0;
    font-weight: 400;
    display: inline;
}

.form-inline {
    margin: 3vh 0 0 0;
}

#contact .row h3 {
    color: #0dc5a0;
    font-weight: 400;
    padding: 1vh 0 1vh 0;
}

#contact .row p {
    font: 2.3vh/5vh "微软雅黑";
    border-bottom: 1px dashed black;
    margin: 2vh 0;
}

#contact .row textarea {
    display: block;
    border-radius: 5px;
    margin: 2vh 0;
}

#contact .row input {
    border-radius: 2px;
    margin: 2vh 9vh 2vh 0;
}

#contact #target a {
    color: black;
    text-decoration: none;
    display: block;
    float: left;
    height: 5vh;
    width: 30vh;
}

#contact #target a:hover {
    text-decoration: underline;
    color: #0dc5a0;
}

#contact img {
    float: right;
    position: absolute;
    top: -1vh;
}

#爱心 {
    right: 3vh;
}

.footer {
    padding: 3vh 0vh;
    width: 100%;
    background-color: #323436;
    color: #B0B0B0;
    font-size: 13px;
}

.footer a {
    color: #D0D0D0;
}

.footer a:hover {
    color: #0dc5a0;
}

.footer .footer_last {
    text-align: center;
    margin: 3vh auto;
}

#qq {
    background: url(../picture/qq.png);
}

#qq img,
#微信 img {
    height: 70px;
    width: 70px;
    margin-top: 5vh;
    display: none;
}

#qq:hover img,
#微信:hover img {
    display: block;
    z-index: 9999;
    position: absolute;
}

#微信 {
    background: url(../picture/微信.png);
}

#footer-github {
    background: url(../picture/github.png);
}

#net ul {
    list-style-type: none;
    margin-top: 2vh;
}

#net {
    margin: 0;
}

#net li {
    margin: 0 1vh;
    display: inline-block;
    height: 24px;
    width: 24px;
}


/*只在小屏幕显示*/

@media screen and (max-width:768px) {
    .carousel .item img {
        height: 400px;
        width: auto;
    }
    .carousel .item {
        height: 400px;
    }
    .carousel-caption h1 {
        font-size: 14px;
    }
    .carousel-caption p {
        font-size: 14px;
    }
    .carousel-caption {
        top: 30%;
        font-size: 14px;
    }
    .carousel-control.right {
        height: 400px;
        margin: 0;
    }
    .carousel-control.left {
        height: 400px;
        margin: 0;
    }
    #head {
        font-size: 25px;
    }
    .intro {
        padding: 50px 50px;
        margin: 50px 5px 50px 10px;
    }
    .img1 {
        padding: 40px 20px;
    }
    #project {
        margin-left: 150px;
    }
    #contact .row {
        padding: 15vh 3vh;
    }
    .footer .row #net {
        margin-left: 30px;
    }
    .footer .row .con {
        margin-left: 30px;
    }
}

@media screen and (max-width:600px) {
    #github {
        margin: 40px 0px 40px 50px;
    }
    #salon {
        margin: 40px 50px;
    }
    #project {
        margin: 40px 35px 40px 50px;
    }
    #contact .row {
        margin: 5vh 3vh 5vh 0vh;
    }
    .intro {
        padding: 50px 20px;
    }
    .img1 {
        padding: 40px 0px;
    }
}

@media screen and (max-width:366px) {
    #head {
        font-size: 20px;
    }
}